$default-font: 'Montserrat', sans-serif;

$primary-color: #202129;
$color-white: #FFFFFF;
$color-black: #000000;
$color-black-1: black;
$color-light-gray-1: #BFBDBD;
$color-light-gray-2: #878585;
$color-light-gray-3: #5B5B5B;
$color-light-gray-4: #7E7E7E;
$color-light-gray-5: #AAA;
$color-light-gray-6: #727272;
$color-dark-gray-1: #2D2D2D;
$color-dark-gray-2: #303030;
$color-dark-gray-3: #4b4949;



$border-white: #FFFF;
$border-1: #B875E6;
$border-2: #BFBDBD;
$border-3: #ccc;

$background-white: #fff;
$background-black: #000;
$background-1: #F9F9F9;
$background-2: #F2F2F2;
$background-3: #D9D9D9;
$background-4: #B875E6;
$background-5: #856EF2;
$background-6: #7680FF;
$background-7: #F5F5F5;
$background-8: #C689F9;
$background-9: #F7F7F7;
$background-10: #5B5B5B;
$background-11: #ccc;